<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>올라갈지도 로그인</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">    
</head>
<body>
    <section class="login-form">
        <h1>
            로그인
        </h1>
        <form method="POST" action="">
            {%csrf_token%}
            <div class="int-area">
                <input type="text" name="username" id="username" required>
                <label for="username">닉네임</label>
                
            </div>

            <div class="int-area">
                <input type="password" name="password" id="password" required>
                <label for="password">패스워드</label>
            </div>

            <div class="btn-area">
                <button type="submit" id="btn">시작하기</button>
            </div>
        </form>

        <div class="caption">
            <a href="{% url 'users:signup' %}">회원가입</a>
        </div>
        
    </section>

    <script>
        {% if messages %}
            {% for message in messages %}
                alert('{{message.message}}');
            {% endfor %}
        {% endif %}
        const username = document.querySelector("#username");
        const password = document.querySelector("#password");
        const btn = document.querySelector("#btn");

        function from_checking() {
            if (username.value =="") {
                alert('닉네임을 입력바랍니다.😶');
                username.focus();
                return false;
            }


            if (password.value =="") {
                alert('비밀번호를 입력바랍니다.😶');
                password.focus();
                return false;
            }
        }

        btn.addEventListener("click", from_checking);
    </script>
</body>
</html>